.roadmap {
  background: #ffffff;
  padding: 19px 24px 24px 24px;
  border-radius: 10px;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }
  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.25px;
    color: #3a4374;
    margin: 0;
  }
  &__link {
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #4661e6;
    transition: 0.2s linear;
    &:hover {
      color: #8397f8;
    }
  }
  &__number {
    font-weight: 700;
    font-size: 16px;
    color: #647196;
  }
  @media screen and (max-width: 1024px) {
    flex: 1;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.roadmap-list {
  padding: 0;
  margin: 0;
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    font-size: 16px;
    line-height: 23px;
    color: #647196;
    padding-left: 24px;
    margin-bottom: 8px;

    &::before {
      content: '';
      width: 8px;
      height: 8px;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
    }
    &:nth-child(1) {
      &::before {
        background: #f49f85;
      }
    }
    &:nth-child(2) {
      &::before {
        background: #ad1fea;
      }
    }
    &:nth-child(3) {
      &::before {
        background: #62bcfa;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
